/* You can add global styles to this file, and also import other style files */
.component{
    font-family: Arial;
    text-align: center;
    font-weight: 200; 
    font-size-adjust: inherit;
    
}
.input {
    border-end-end-radius: 7x;
}