<nav class="navbar navbar-inverse"><app-menu></app-menu>
  </nav>
<div class= "component">

    <table call="table table-striped table-sm">
        <tr>
            <th>Id:</th>
            <td>
                <input [(ngModel)]="major.id" type ="number" size = "10"disabled>
            </td>
            
        </tr>
        <tr>
            <th>Code:</th>
            <td>
                <input [(ngModel)]="major.code" type ="text" size = "10">
            </td>
        </tr>
        <tr>
            <th>Name:</th>
            <td>
                <input [(ngModel)]="major.name" type ="text" size = "20">
            </td>
        </tr>
        <tr>
            <th>MinSAT:</th>
            <td>
                <input [(ngModel)]="major.minSat" type ="number" size = "10">
            </td>
        </tr>
        <td colspan="2">
            <button (click)="save()" class= "btn btn-primary">Save</button>
        </td>
    </table>
</div>